/* .MainHeading {
  width: 5000px;
} */

body {
  background-color: antiquewhite;
}

td {
  width: 50vw;
  text-align: center;
}

img {
  height: 500px;
}

.set1 {
  height: 100vh;
}
.set2 {
  text-align: center;
  margin: 0 20%;
}

.set2 p {
  margin: 100px 0;
  font-size: 20px;
}

.set3 {
  text-align: center;
  margin: 0 20%;
}

.set3 p {
  margin: 100px 0;
  font-size: 25px;
}

.set4 {
  text-align: center;
}

.row {
  margin: auto;
  margin-top: 70px;
  font-size: 25px;
}

.copyright {
  /* background-color: #12a71f; */
  color: black;
  padding: 7px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
}
